.navbar-style{
  background-color: rgb(212, 142, 92);
}
.logo-img-style{
  height: 50px;
  width: 80px;
}

.logo-txt-style{
  margin-top: -19px;
  margin-left: 78px;
}

.nav-align-style{
  margin-left: 20rem;
}
*{
  font-family: 'Times New Roman', Times, serif; 
}
